---
import "../CSS/style.css";
import Mainlayout from "../layouts/mainlayout.astro";
import Knap from "../components/knap.astro";
import Form from "../components/form.astro";
import Anmeldelser from "../components/anmeldelser.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import omada_store from "../img/omadastore.png";
import Filtrering from "../components/filtrering.astro";
import AlleProdukter from "../components/alleProdukter.astro";
import Instagram from "../components/instagram.astro";
import Tastings from "../components/tastings.astro";
import Animation from "../components/animation.astro";
---

<Mainlayout title="Omada Wine & Deli">
  <Header />
  <main>
    <section class="front">
      <div class="front_text">
        <h2>Find os på</h2>
        <div class="front-text-1">
          <p>Øster Farimagsgade 26</p>
          <p>2100 København Ø</p>
        </div>
        <div>
          <p>Onsdag - søndag</p>
          <p>11:00 - 20:00</p>
        </div>
      </div>
      <div class="img_storefront">
        <img src={omada_store} alt="store_front" />
      </div>
    </section>

    <section class="nyheder">
      <h2>NYHEDER OG EVENTS</h2>
      <p>Se hvad der sker i delien hen over de næste par uger..</p>
  
      <div class="poster">
        <video class="bg_video" autoplay loop muted>
          <source src="/video/baggrundsvideo2.mp4" type="video/mp4" />
        </video>
        <div class="overlay">
          <h1>SIP & SNACK</h1>    
          <Animation />
          <h2>2 GLAS VIN FOR 1 GLAS PRIS</h2>
          <h3>VED KØB AF DELI SNACKS</h3>
          <Knap size="medium"><a href="">Se tilbud</a></Knap>
        </div>
      </div>
    </section>

    <section class="deli_goder">
      <h2>DELI GODER</h2>
      <p><em>Tørstig? sulten? Nysgerrig?</em> Den klarer vi.</p>
      <br />
      <p>Tjek vores sortiment ud. Alt du ser kan du finde nede i vores Deli.</p>

      <Filtrering />

      <AlleProdukter />
    </section>

	<section class="tasting">
		<h2>SMAGNINGER OG ARRANGEMENTER</h2>
		<Tastings />
	</section>

    <section class="about">
      <div class="about_tekst">
        <h2>OM OMADA WINE & DELI</h2><img
          class="grafik_about"
          src="/grafik/vinglas.png"
          alt="Grafik af vinglas"
        />
        <p>Tørstig? Sulten? Nysgerrig? Den klarer vi.</p>
        <br />
        <br />
        <p>
          I butikken kan du finde det fulde udvalg af naturlig vin,cider og
          andre fermenterede drikkevarer, som du kender fra omada.wine. <br />
          <br />
          <br /> Du kan endda nyde et glas vin, inden du beslutter digfor, hvilken
          flaske du vil tage med hjem.
        </p>
      </div>

      <Knap color="red" size="medium"><a href="">Læs mere</a></Knap>

      <Instagram />
    </section>
 <!-- <img
        class="grafik2"
        src="/grafik/vinflaske_optrækker.png"
        alt="Grafik af vinflaske og en optrækker"
      /> -->
    <section class="anmeldelser">
      <h2>Send din anmeldelse Omada Wine & Deli</h2>
      <p>
        Vi vil rigtig gerne høre fra jer, så send din oplevelse af delien ind.
      </p>
      <Form />
      <Anmeldelser />
    </section>
  </main>

  <Footer />
</Mainlayout>

<style>
  @media (max-width: 1000px) {
    .front {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2em;
      text-align: center;
      margin-bottom: 4em;
    }
    .front-text-1 {
      margin-bottom: 1em;
    }
  }

  @media (min-width: 1000px) {
    .front {
      display: grid;
      grid-template-columns: 1fr 3fr;
      justify-content: center;
      text-align: center;
      margin-bottom: 4em;
    }
    .front_text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2em;
    }
    .front_text h2 {
      margin: 0;
    }
  }

  .nyheder {
    border-top: 2px solid var(--red);
    padding-top: 3em;
    margin-bottom: 4em;
  }
  .nyheder p {
    margin-bottom: 4em;
  }

  .anmeldelser {
    border-top: 2px solid var(--red);
    padding-top: 3em;
    margin-bottom: 4em;
  }

  /* video */
  .poster {
    display: grid;
    place-items: center;
    /* position: relative; */
  }
  video {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    z-index: -1;
    grid-area: 1/1;
  }

  .overlay {
    text-align: center;
    grid-area: 1/1;
  }
  .overlay a {
    color: white;
  }
  .overlay h1 {
    color: white;
    font-size: 30px;
    margin-bottom: 5%;
  }
  .overlay h2 {
    color: white;
    font-size: 18px;
  }
  .overlay h3 {
    color: white;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 2em;
  }

  @media (min-width: 800px) {
    .overlay h1 {
      font-size: 40px;
      margin-bottom: 10%;
    }
    .overlay h2 {
      font-size: 35px;
    }
    .overlay h3 {
      color: white;
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 2em;
    }
  }
  /*  */

  /* about */
  .about {
    border-top: 2px solid var(--red);
    padding-top: 3em;
    margin-bottom: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .about_tekst {
    margin-bottom: 4em;
    max-width: 500px;
    text-align: center;
  }
  .grafik_about{
	max-width: 80px;
	margin-bottom: 2em;
  }

  /* tastings */
  .tasting {
	 border-top: 2px solid var(--red);
    padding-top: 3em;
    margin-bottom: 4em;
  }
</style>
