---
import "../CSS/style.css";
import Mainlayout from "../layouts/mainlayout.astro";
import Knap from "../components/knap.astro";
import Form from "../components/form.astro";
import Anmeldelser from "../components/anmeldelser.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import omada_store from "../img/omadastore.png";
---

<Mainlayout title="Omada Wine & Deli">

<Header />
  <main>
    <h2>Find os på</h2>
	<div>
    <p>Øster Farimagsgade 26</p>
	<p> 2100 København Ø</p>
  	</div>

	<div class="img_storefront">
	<img src={omada_store} alt="store_front">
</div>

	<div>
		<p>Onsdag - søndag</p>
		<p>11:00 - 20:00</p>
	</div>

	<Anmeldelser />
	<h2>Indsend din anmeldelse af Omada Wine & Deli</h2>
	<Form />
  </main>

  <Footer />
</Mainlayout>




<style>
  a {
    color: var(--red);
    text-decoration: none;
  }
</style>
