---
import "../CSS/style.css";
import Mainlayout from "../layouts/mainlayout.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
---

<Mainlayout title="singleview">
<Header></Header>
<main>
    
</main>
<Footer></Footer>
</Mainlayout>