---
import "../CSS/style.css";
import Mainlayout from "../layouts/mainlayout.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import Knap from "../components/knap.astro";
import Animation from "../components/animation.astro";
---

<Mainlayout title="Sip & Snack kampagne">
  <Header />
  <Knap size="tilbage"><a href="/">Forside</a></Knap>
  <main>

    <section class="tilbud">

      <img
        class="grafik"
        src="/grafik/vinflasker_blå.png"
        alt="Grafik af vinflasker i blå streg"
      />

      <h1>SIP & SNACK</h1>
      <h3>TILBUD HELE SOMMEREN</h3>
      <h3 class="h3_sort">
        2 GLAS VIN FOR 1 GLAS PRIS NÅR DU <br /> KØBER 2 SNACKS FRA DELIEN
      </h3>
      <div class="animation">
        <Animation />
      </div>
    
    </section>

     

    <section class="konkurrence">

      <div class="video_container">
        <video class="video" autoplay loop muted>
          <source src="/video/reklame.mp4" type="video/mp4" />
        </video>
      </div>

      <div>
        <h3>KONKURRENCE</h3>
        <h3 class="h3_sort">
          VIND 2 FLASKER NATURVIN OG 3 SNACKS FRA OMADA DELI
        </h3>
        <p>
          Skriv dig op til vores nyhedsbrev og vær med i konkurrencen om 2
          falsker vin samt 3 snacks fra delien.
          <br />
          <br />
          Vinderen trækkes d. 1 juni.
          <br />
          <br />
          Held og lykke!
        </p>
        <form>
          <input type="text" />
          <button> <p>Skriv mig op</p></button>
        </form>
      </div>

    </section>

  </main>
  <Footer />
</Mainlayout>

<style>
  .tilbud {
    text-align: center;
    margin-top: -2em;
  }
  .h3_sort {
    color: var(--overskrift-color);
  }
  h3 {
    margin-top: 1em;
    margin-bottom: 2em;
  }
  h1 {
    margin-top: 0.5em;
  }
  .animation {
    display: flex;
    justify-content: center;
    margin: -4em;
    margin-top: -7em;
  }
  @media (max-width: 800px) {
    .grafik {
      max-width: 150px;
    }
    .tilbud {
      margin-top: -2em;
    }
    h1 {
      font-size: 30px;
    }
      video {
    display: none;
  }
  .konkurrence {
    border: solid 1px var(--red);
    padding: 2em;
  }
  }

  @media (min-width: 800px) {
    .grafik {
      max-width: 200px;
    }
    .tilbud {
      margin-top: -6em;
    }
    h1 {
      font-size: 40px;
    }
      video {
    width: 223px;
    height: 380px;
    object-fit: cover;
  }
   .konkurrence {
    border: solid 1px var(--red);
    padding: 2em;
    display: flex;
    flex-direction: row;
    gap: 2em;
    max-width: 800px;
    margin: auto;
    align-items: center;
  }
  }
  form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-bottom: 20px;
    gap: 10px;
  }

  button {
    background-color: var(--red);
    border: none;
    padding: 3px;
  }
  button p {
    color: white;
  }

  input {
    padding: 8px;
    border: 1px solid var(--blue);
    background-color: transparent;
    margin-top: 2em;
  }

</style>
