---
import Knap from "./knap.astro";
import "../CSS/style.css";
---

<div class="filtrering">
  <ul>
    <li><Knap size="small"><a href="">Vin</a></Knap></li>
    <li><Knap size="small"><a href="">Øl & Ciders</a></Knap></li>
    <li><Knap size="small"><a href="">Krydderier</a></Knap></li>
    <li><Knap size="small"><a href="">Tilbehør</a></Knap></li>
    <li><Knap size="small"><a href="">Snacks</a></Knap></li>
  </ul>
</div>

<style>
 @media (max-width:800px) {
    ul {
    list-style: none;
       display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    padding-left: 0;
}
 }   

  @media (min-width:800px) {
ul {
    list-style: none;
       display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
    padding-left: 0;
  
}
  }
.filtrering {
    margin-top: 4em;
     margin-bottom: 4em;
}

</style>
