---
import "../CSS/style.css";
import Burgermenu from "./burgermenu.astro";
import Nav from "./nav.astro";
---

<header>
    <section class="blå_banner">
    </section>
<h1>
    OMADA WINE & DELI
</h1>
<section id="header">
    
</section>    
<Burgermenu />
<Nav />

</header>

<style>
.blå_banner {
    width: 100%;
    height: 30px;
    background-color: var(--blue);
}
h1 {
    text-align: center;
    margin: 1em;
}
@media(max-width:800px){
    h1 {
        font-size: 25px;
        margin: 1.5em;
    }
}
</style>