---
import "../CSS/style.css"

const { size, color } = Astro.props;
---

<button class="knap" data-size={size} data-color={color}><slot></slot></button>
  
  <style>
    
    @media (max-width: 800px) {
      [data-size="tilbage"] {
        border: solid 1px var(--red);
        padding: 5px;
        background-color: transparent;
         margin-left: 5%;
      }
      [data-size="small"] {
        border: solid 1.5px var(--red);
        padding: 5px;
        width: 100%;
        background-color: transparent;
      }
    
      [data-size="medium"] {
        border: solid 1px var(--white);
        padding: 10px;
        background-color: transparent;
      }
       [data-size="medium_red"] {
        border: solid 1px var(--red);
        padding: 10px;
        background-color: transparent;
      }


    }
  
    @media (min-width: 800px) {
      [data-size="tilbage"] {
        border: solid 1.5px var(--red);
        padding: 5px;
        background-color: transparent;
        margin-left: 5%;
        margin-top: 5%;
        margin-bottom: 0;
      }
      [data-size="small"] {
        border: solid 2px var(--red);
        padding: 8px;
        width: 100%;
        background-color: transparent;
      }

      [data-size="medium"] {
        border: solid 2px var(--white);
        padding: 10px;
        padding-inline: 70px;
        background-color: transparent;
      }
        [data-size="medium_red"] {
        border: solid 2px var(--red);
        padding: 10px;
        padding-inline: 70px;
        background-color: transparent;
      }

    }
[data-color="red"] {
  border-color: var(--red);
}
  </style>
  