---
import "../CSS/style.css";
---
<nav>
    <ul>
       <li ><a href="#1">NYHEDER OG EVENTS</a></li>
        <li><a href="#2">DELI GODER</a></li>
        <li><a href="#3">SMAGNINGER OG ARRANGEMENTER</a></li>
        <li><a href="#4">OM OS</a></li>
        <li class="blue_link"><a href="/">OMADA.WINE</a></li> 
        <!-- <div>
        <img src="/img/heart-3.png" alt="hjerte">
        <img src="/img/shopping-cart.png" alt="shoppingcart">
    </div> -->
    </ul>
   
</nav>

<style>
    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 5%;
        margin-inline: 6%;
        padding-left: 0;
    }

    a {
        font-family: "aviano-sans";
        font-size: 14px;
        text-decoration: none;
        color: var(--text-color);
    }

    .blue_link a{
        color: var(--blue);
    }
    nav {
        /* margin-inline: 5%; */
    }
    li a:hover{
  color: var(--red);
}
/* img {
    max-width: 20px;
} */


@media(max-width:1000px){
    nav{
        display: none;
    }
}
</style>