---
import "../CSS/style.css";
const {name, text} = Astro.props;
---
<li class="testimonial">
    <h3>{name}</h3>
    <p>{text}</p>
</li>

<style>
    li{
        text-align: center;
        margin-bottom: 2em;
        margin-top: 2em;
        padding-inline:6%;

    }
    p {
        min-width: 250px;
    }

</style>