:root{
    /* farver */
    --bg-color: #FFFEF3;
    --text-color: #000000bb;
    --overskrift-color: #3B3D61;
    --red: #E66151;
    --white: #ffffff;
    --blue: #3F74ED;
    --line-grey: rgba(220, 220, 220, 0.759);
    --footer-bg:#ECE9E0;
    
    
    /* typografi (disse er random, da jeg ikke kan se live view)*/
    --fontsize-large-mobil: 35px; 
    --fontsize-medium-mobil: 20px;
    --fontsize-small-mobil: 15px;
    
    --fontsize-large-web: 35px;
    --fontsize-medium-web: 20px;
    --fontsize-small-web: 15px;
    }
    
    /* font */
  

    * {
        box-sizing: border-box;
        margin: 0;
    }

    body {
        color: var(--overskrift-color);
        background-color: var(--bg-color);
        font-family: sans-serif;
    }

    main {
        margin: 6%;
    }

    h1 {
        color: #E66151;
    }

    p {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: lighter;
        color: var(--text-color);
    }


    /* mobil size */
    @media (max-width: 700px) {
        [data-size="small"] {
          border: solid 2px var(--red);
          padding: 20px;
          padding-inline: 80px;
          background-color: var(--bg-color);
        }
    }
    /* web size */
    @media (min-width: 700px) { 
    .knap {
        color: var(--bg-color);
        font-size: 15px;
        font-weight: 500;
        text-decoration: none;
        } 
    }